{% extends "base.html" %}
{% block body_block%}
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="3" style="width: 66%">
    <span class="sr-only">66% Complete</span>
  </div>
</div>

<div class="jumbotron">
  <h1>Δεύτερο Βήμα!</h1>

<div class="container">

<div class="row">


  <div class="container col-md-6">
    <form  method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" class="btn btn-success" value="Βήμα 3 ->">
  </form>
  </div>


  <div class="panel panel panel-primary col-md-6">
  <div class="panel-heading">
    <h3 class="panel-title">Σημείωση:</h3>
  </div>
  <div class="panel-body">
    <p>Η μορφή της ημερομηνίας είναι 22-11-2020 (ημ-μη-ετος) </p>
  </div>
  </div>





</div>
</div>
{% endblock %}

</div>
